<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <title>Profil</title>

    <title>Login</title>
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/home">Appartoo</a>
    </nav>

    <div class="container">

        <h3>Se connecter</h3>
        <form action="/login/submit" method="POST">
            <div class="form-group">
                <input type="text" name="username" placeholder="Votre login" class="form-control">
            </div>

            <div class="form-group">
                <input type="password" name="password" placeholder="Votre mot de passe" class="form-control">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success">Se connecter</button>
            </div>
        </form>

        <div class="form-group">
            <% if(locals.session) {%>
            <%= 'Vos identifiants ne correspondent pas veuillez ressayez'%>
            <% }%>


            <a href="/register">S'inscrire sur le site</a>
        </div>
</body>

</html>