<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>

<h2>Se connecter</h2>
    <form action="/login/submit" method="POST">
        <input type="text" name="username" placeholder="Votre login">
        <input type="password" name="password" placeholder="Votre mot de passe">
        <button type="submit">Se connecter</button>
    </form>

    <% if(locals.session) {%>
    <%= 'Vos identifiants ne correspondent pas veuillez ressayez'%>
    <% }%>


        <a href="/register">S'inscrire sur le site</a>
</body>

</html>