<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inscription</title>
</head>
<body>
    <h2>Inscription</h2>

    <form action="/home/create" method="POST">

        <input type="text" name="username" placeholder="Votre pseudo">
        <input type="password" name="password" placeholder="Votre mot de passe">
        <input type="number" name="age" placeholder="Votre age">
        <input type="text" name="famille" placeholder="Nom de famille">
        <input type="text" name="race" placeholder="Votre race">
        <input type="text" name="nourriture" placeholder="Votre nourriture">
        
        <button type="submit">S'inscrire</button>
    </form>
        
    <a href="/login">Se connecter</a>

</body>
</html>
